* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
}
img {
    width: 100%;
}

/* HEADER  */
header {
    color: white;
    padding-top: 1rem;
}

.head-container {
    padding-top: 0.5rem;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 3rem;
    color: white;
    position: relative;
}

.head-nav {
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    position: absolute;
    right: 10px; 

}
.speaker-view {
    height: 1rem;
    width: 6rem;
    background-color: grey;
    color: white;
    border-radius: 10%;
   text-align: center;
}
.expand {
    height: 1rem;
    width: 2rem;
    background-color: grey;
    border-radius: 10%;
    text-align: center;

}

.main-container {
    width: 100%;
    height: 100vh;
    color: white;

}

/* CARDS */

.card-container {
    width: 100%;
    margin: 0 auto; 
    /* max-width: 1100px;*/
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
    overflow-y: auto;
    
}
main {
  height: calc(100% - 100px);
  background-color: black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    
    

    
}

.card {
    position: relative;
   
}
.cards  {
    width: calc(100% / 7 - 1rem );

}



.name {
    height: 1.2rem;
    width: fit-content;
    background-color: rgba(148, 146, 146, 0.49);
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    bottom: 1px ;

}

/* FOOTER MENU */

footer {
    color: white;
    background-color: rgb(33, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 20px; 
}

/* lato sx */
.menu-bar {
    display: flex;
    align-items: center;
}


footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    margin: 0; 
}

footer ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

/* testo */
.text {
    font-size: 0.8rem;
}

/* angle up i*/
.angle-up {
    font-size: 0.8rem;
}

/* lato dx */
.action-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* "Leave Meeting"  */
.action-right button {
    padding: 8px 16px; 
    background-color: red; 
    border-radius: 5px; 
    color: white;
    cursor: pointer;
}


.action-right button:hover {
    background-color: darkred;
}


